@media (min-width:992px){ 
.visible-xs li{
    display: none;
    }
}
.dropcust{
    background-color: brown;
    text-align: center;
    margin-top:5px;
}
section{
    background-color: aqua;
    margin: 15px 0;
    padding:5px
}